@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	width:10%%;
		background-color: #F5F5F5;

}
h1 {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0px 10px 0px;
}
p{
	font-family: 'Ubuntu', sans-serif;
}

canvas {
	background-color: #000;
	height: 500px;
	width: 1000px;
}